<div class="about">
  <section class= "top-line">
    <br><br>
    <h2>The Cafe of Peace</h2>
    <h4>A place to sit down and have a coffee in absolute serenity</h4><br>
    <p>We appreciate your time with us, hope you enjoy the peace of mind we are trying to provide an aura on.</p><br>
  </section>

  <section class="para-det">
    <p>At CafeHouse, we believe there is a better way to calm youself and your partners down. With our prime motive of providing best of our services to you at a best 'n' cheap cost, we look forward to giving you an environment which is calm. A peaceful mind always settels you down and a coffe or dessert will definately freshen up your mind. We are obsessivekly passionate about it, and our mission is to help provide with the best services you could ask for. <br>
    We can never thank you all enough for supporting us through hard times and giving the recognition to our cafe to where it stands today. <br>
    We hope you a happy meal and a good day. Thankyou. <br> ☕❤☕ </p><br>
  </section>

  <section class="contact-at " id="contact-at">
    <div class="cont">
        <h3 class="title">Contact Us At:</h3>
        <div class="direction">
            <h5>Calling details: </h5>
            <p class="call"> Address: LPU Phagwara <br /> Jalandhar</p>
            <p class="tele">Phone no: (+91) 94123-54765</p>
            <p class="correspond">Email: support@cafewebsite.com</p>
        </div>

        <div class="hours">
            <h4>Working hours</h4>
            <p class="normal">Monday To Friday <br> 9:00 a.m. - 9:00 p.m.</p>
            <p class="weekends">Weekends <br> 11:00 a.m. - 7:00 p.m.</p>
        </div>
    </div>
</section> <br> <br>
</div>