body{
    background-image: linear-gradient(rgb(218, 75, 75),rgb(224, 115, 115),violet);;
    width: 100%;
    font-size: large;
}
div{
    /* background-image: url(../../../assets/images/bg-textura.png); */
    width:90%;
    margin: auto;
}

#border1 {
    border: 1px solid brown;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}

#border2{
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}