<header class="hero flex items-center">
    <div class="container">
    <div class="intro-contents">
        <br><br>
        <div class="welcome flex items-center">
            <span>Welcome to</span>
            <img src="../../../assets/images/logo.png" alt="" width="30px" heigth="30px"> CafeHouse
        </div>
        <h1><span>CafeHouse</span> Official Website</h1>
        <p>This is the offlical website for CafeHouse loved by all.</p>
        <div>
            <button class="btn btn-primary">Read More</button>
            <button class="btn btn-secondary">Shop Now</button>
        </div>
        <div class="hero-image">
            <img src="../../../assets/images/coffee.jpg" alt="">
        </div>
        <br><br>
    </div>
    </div>
</header>
<div class="div">
    <section class="fav" id="fav">
        <br><br>
        <h4 class="fav-header">Customer Favorites</h4>
        <div class="card-deck">
            <div class="card">
              <img src="../../../assets/images/fav1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Creme Lemon Pie</h5>
                <p class="card-text">The sweet-sour creme-lemon combination entanges your taste buds in a merry.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/fav2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Banoffee Cream Pudding with white chocolate</h5>
                <p class="card-text">Bean-coffee with white choclate mush is a ferfect dish for a small delight.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/fav3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sticky Ginger pudding</h5>
                <p class="card-text">Famous ofr holding the oriental flavours of ginger, this sweet tinge has something which appeals to all.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <br><br>
          <div class="card-deck">
            <div class="card">
              <img src="../../../assets/images/fav4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Oreo-cookie ice cream sandwiches</h5>
                <p class="card-text">A perfect companion for tea, any sort of breavrage and cuisine items.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/fav5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shierly Ginger</h5>
                <p class="card-text">A delighful mocktail for fans of authetic taste and brevrages.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/fav6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hot Apple Cider</h5>
                <p class="card-text">Apple cider mushed in pumkin and cinnamon, is a hot topic for those who try.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <br><br>
          <div class="card-deck">
            <div class="card">
              <img src="../../../assets/images/fav7.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Black Currant Berry Love</h5>
                <p class="card-text">With lime, honey mint and beer ensorcelled in black currant berry... the taste you have reminds of you good olden' days.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/fav8.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lyre’s Dublin Double Irish Coffee</h5>
                <p class="card-text">Non-alcholic double Irish coffe is a blend of everything you'll need in the moment.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/fav9.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lavender Lemonade</h5>
                <p class="card-text">A cold lemonade is all you need in a drying summer day.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </section>

    <section class="menu" id="platos">
        <div class="contenedor">
            <br><br>
            <h3 class="titulo" id="platillos">Menu</h3>
            <div class="contenedor-menu">
                <div class="contenedor-menu2">
                    
                    <article>
                        <p class="categoria">Cuisine</p>
                        <div class="platillo">
                            <p class="nombre">Creme Lemon Pie</p>
                            <p class="precio">$15</p>
                            <p class="descripcion">The sweet-sour creme-lemon combination entanges your taste buds in a merry.</p>
                        </div>
                        <div class="platillo">
                            <p class="nombre">Banoffee Cream Pudding- white chocolate
                            </p>
                            <p class="precio">$10</p>
                            <p class="descripcion">Bean-coffee with white choclate mush is a ferfect dish for a small delight.</p>
                        </div>
                        <div class="platillo">
                            <p class="nombre">Sticky Ginger pudding</p>
                            <p class="precio">$20</p>
                            <p class="descripcion">Famous ofr holding the oriental flavours of ginger, this sweet tinge has something which appeals to all.</p>
                        </div>
                        <div class="platillo">
                            <p class="nombre">Oreo-cookie ice cream sandwiches</p>
                            <p class="precio">$35</p>
                            <p class="descripcion">A perfect companion for tea, any sort of breavrage and cuisine items.</p>
                        </div>
                    </article>
                    <article>
                        <p class="categoria">Brevrages</p>
                        <div class="platillo">
                            <p class="nombre">Hot Apple Cider</p>
                            <p class="precio">$5</p>
                            <p class="descripcion">Apple cider mushed in pumkin and cinnamon, is a hot topic for those who try.</p>
                        </div>
                        <div class="platillo">
                            <p class="nombre">Shierly Ginger</p>
                            <p class="precio">$7</p>
                            <p class="descripcion">A delighful mocktail for fans of authetic taste and brevrages.p>
                        </div>
                        <div class="platillo">
                            <p class="nombre">Lavender Lemonade</p>
                            <p class="precio">$3</p>
                            <p class="descripcion">A cold lemonade is all you need in a drying summer day. The pink attire to it only more appealing.</p>
                        </div>
                        <div class="platillo">
                            <p class="nombre">Black Currant Berry Love</p>
                            <p class="precio">$4.5</p>
                            <p class="descripcion">With lime, honey mint and beer ensorcelled in black currant berry... the taste you have reminds of you good olden' days.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <br><br>
        <h4 class="service-heading">Our Services</h4>
        <div class="card-deck">
            <div class="card">
              <img src="../../../assets/images/homedel.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Free Home Delivery</h5>
                <p class="card-text">Free home delivery on oders more than 10$.</p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/qualityproduct.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Quality Product Delivery</h5>
                <p class="card-text">We only serve best quality dishes and brevrages.</p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/images/paymentoptions.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flexible Payment Options</h5>
                <p class="card-text">You can pay cash or via applications and via bank.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </section>

    <section class="galeria" id="galeria">
        <br><br>
        <h3 class="titulo" id="platillos">Gallery</h3>
        <div class="foto">
            <img src="../../../assets/images/1.jpeg" alt="Capuccino">
        </div>
        <div class="foto">
            <img src="../../../assets/images/2.jpg" alt="Café FalconMasters Barra">
        </div>
        <div class="foto">
            <img src="../../../assets/images/3.jpeg" alt="Café y torta">
        </div>
        <div class="foto">
            <img src="../../../assets/images/4.jpg" alt="Lobby">
        </div>
        <div class="foto">
            <img src="../../../assets/images/5.jpeg" alt="Café Corazón">
        </div>
        <div class="foto">
            <img src="../../../assets/images/6.jpg" alt="Café hoja">
        </div>
        <div class="foto">
            <img src="../../../assets/images/7.jpeg" alt="Cafeteras">
        </div>
        <div class="foto">
            <img src="../../../assets/images/8.jpeg" alt="Bizcochos">
        </div>
    </section>

 
    <section class="ubicacion" id="ubicacion">
        <div class="contenedor">
            <h3 class="titulo">Contact Us</h3>
            <div class="direccion">
                <h5>Calling details: </h5>
                <p class="calle"> Address: LPU Phagwara <br /> Jalandhar</p>
                <p class="telefono">Phone no: (+91) 94123-54765</p>
                <p class="correo">Email: support@cafewebsite.com</p>
            </div>

            <div class="horarios">
                <h4>Working hours</h4>
                <p class="entre-semana">Monday To Friday <br> 9:00 a.m. - 9:00 p.m.</p>
                <p class="fin-semana">Weekends <br> 11:00 a.m. - 7:00 p.m.</p>
            </div>
        </div>
    </section> <br> <br>
</div>
<div>
<button (click)="Testing()">Ask for support</button>
       <input type="text" id="txtName" placeholder="Enter your name"/>

       <br> <br> <br> 
       <br> <br> <br> 
</div>